
.icon-mail:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-lock-open:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e806'; } /* '' */
.icon-info-circled:before { content: '\e807'; } /* '' */
.icon-help-circled:before { content: '\e808'; } /* '' */
.icon-videocam:before { content: '\e809'; } /* '' */
.icon-print:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-attention-circled:before { content: '\e80c'; } /* '' */
.icon-paypal:before { content: '\e80d'; } /* '' */
.icon-html5:before { content: '\e80e'; } /* '' */
.icon-gplus:before { content: '\e80f'; } /* '' */
.icon-wikipedia:before { content: '\e810'; } /* '' */
.icon-youtube:before { content: '\e811'; } /* '' */
.icon-skype:before { content: '\e812'; } /* '' */
.icon-soundcloud:before { content: '\e813'; } /* '' */
.icon-tumblr:before { content: '\e814'; } /* '' */
.icon-wordpress:before { content: '\e815'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-wordpress-1:before { content: '\f19a'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */